# IDes
.vscode
.idea

# Secrets
.env

# Private
*.private.*

# Debug Flag
XXTOOLBELT_DEBUG_MODE

# Logs
xxtb.log

# Belts (external toolbelts)
belts/
.belts

# Ignore everything in scripts except tracked folders
scripts/*
!scripts/bash/
!scripts/cpp/
!scripts/csharp/
!scripts/dlang/
!scripts/elixir/
!scripts/erlang/
!scripts/golang/
!scripts/groovy/
!scripts/janet/
!scripts/java/
!scripts/lua/
!scripts/node/
!scripts/perl/
!scripts/powershell/
!scripts/python/
!scripts/r/
!scripts/ruby/
!scripts/rust/
!scripts/ts/
!scripts/v/
!scripts/zig/
